@import '../../node_modules/antd/dist/antd.css';
@import 'Register.css';
@import 'Main.css';
@import 'Login.css';
@import 'TopBar.css';
@import 'Home.css';
@import 'AroundMarker.css';

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  pointer-events: none;
  height: 50px;
  float: left;
}

.App-header {
  background-color: #282c34;
  color: white;
  height: 50px;
}

.App-title {
  float: left;
  padding-top: 15px;
  font-weight: bold;
  font-size: 17px;
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
